<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    

    <!-- Bootstrap core CSS -->
<title>Cuisine Photo</title>
<link rel="stylesheet" href="reset.css">
<link rel="stylesheat" href="photos.scss" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
      crossorigin="anonymous">
  </head>

<body>
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous">
    </script>
  <!-- header部分の表示 -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>Cuisine de Photo</h1>
    </a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.nickname + "さん", "#", class: "user-nickname " %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        </li>
      <% end %>
      </ul>
      <form class="d-flex " >
        <input class="form-control ms-4" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success ms-2" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>

<sub-header>
<div class="cp_cssslider">
	<div class="cp_slidewrapper">
		<div class="cp_slide_item"><img src="/assets/big.jpeg"></div>
		<div class="cp_slide_item"><img src="/assets/nikuu.jpeg"></div>
		<div class="cp_slide_item"><img src="/assets/simple.jpeg"></div>
		<div class="cp_slide_item"><img src="/assets/mori.jpeg"></div>
		<div class="cp_slide_item"><img src="/assets/outi.jpeg"></div>
    <div class="cp_slide_item"><img src="/assets/bara.webp"></div>
		<div class="cp_slide_item"><img src="/assets/sakura.jpeg"></div>
    <div class="cp_slide_item"><img src="/assets/sinnbashi.webp"></div>
		<div class="cp_slide_item"><img src="/assets/magazi.jpeg"></div>
	</div>
</div>
<sub-header>

<main>
<div class="picture  d-frex align-items-center">
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="title fw-light">あなたのおすすめしたい料理を</h1>
        <p class="lead text-dark">行きつけのお店、オススメしたいお店、自分で作った料理、思い出の料理など共有したりトークしたい方はどんどん投稿していきましょう</p>
        <p>
          <%= link_to(new_photo_path) do %>
          <span class="btn btn-primary my-2">新規投稿</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
</main>

<sub-main>
<h1 class='sub-main-title'>Photo publiée</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @photo.each do |photo| %>
    <div class='col'>  
      <div class="card">
        <div class="card__wrapper" style="width: 35rem;">
          <%= image_tag photo.image, class: "photo-img"%>
          <div class="card__body">
            <div class="photo-title">
            <h3><%= photo.title  %></h3>
            </div>
            <div class="photo-description">
            <p><%= photo.description %></p>
            </div>
            <div class="photo-user-nickname">
            <%= photo.user.nickname + "さん" %>
            <i class="bi bi-hand-thumbs-up"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<nav aria-label="...">
  <ul class="pagination justify-content-center m-5">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="前">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="次">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</sub-main>
</body>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
</html>
